<h4>Manufacturer Information</h4>

<p>Name: <%= @manufacturer.name %> </p>

<p>Type: <%= @manufacturer.type %> </p>

<p>Active: <%= @manufacturer.active.capitalize %> </p>

<button>Change Active Status</button>
